<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="icon" type="jpg" href="IMG/icono_tutoria.png">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Registro de estudiante</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet">
    <link href="estilos.css" rel="stylesheet" />
</head>

<body bgcolor="white">                     
    <header class="header"> 
    </header>
<div class="container1">
    <main class="content">
        <form  action="/registro_cliente" method="post">  
            <div class="form"> 
                    <h1>Registrarse como cliente</h1>    <br>       
                    <div class="grupo">                
                        <label for=""> nombres</label>
                        <input type="text" name="nombre" id="" PlaceHolder='Ingrese un nombre' required><span class="barra"></span> 
                    </div>
                    <div class="grupo">
                        <label for=""> Dirección</label>
                        <input type="text" name="direccion" id="" PlaceHolder='Ingrese su dirección de domicilio' required><span class="barra"></span>                   
                    </div>
                    <div class="grupo">                
                        <label for=""> Telefono</label>
                        <input type="text" name="telefono" id="" maxlength="10" PlaceHolder='Ingrese su número de contacto' onkeypress="return solonumeros(event)" required><span class="barra"></span> 
                    </div>  
                    <div class="grupo">
                        <label for=""> E-Mail</label>
                        <input type="text" name="email" id="" PlaceHolder='Ingrese su correo electrónico' required><span class="barra"></span>                   
                    </div>                
                    <div class="grupo">                
                        <label for=""> Cedula de identidad</label>
                        <input type="text" name="cedula" id="" PlaceHolder='Ingrese su cedula de identidad' maxlength="10" onkeypress="return solonumeros(event)"  required><span class="barra"></span> 
                     <br>
                 <button type="submit" class="btn btn-primary"> Enviar información</button>
            </div>                                                
        </form>
    <script src="validar.js"></script> 
  </main>       
</div>

<script>
  function solonumeros(e){
    key=e.keyCode || e.which;
    teclado=String.fromCharCode(key);
    numeros="0123456789";
    especiales="8-37-38-46"; //array
    teclado_especial= false;
    for(var i in especiales){
      if(key==especiales[i]){
        teclado_especial=true; 
      }
    }
    if(numeros.indexOf(teclado)==-1 && !teclado_especial){
      return false;
    }
  }
</script>

  <footer class="footer"> 
    <p class="text2">Aplicaciones Web I </p>
    <p class="text2">Trabajo Grupal @2021</p>
  </footer>
</body>
</html>